:root {
    --bgColor: gray;
    --navColor: white;
    --navBgColor: darkslategray;
    /*    
    --bgColor: floralwhite
    --navColor: black;
    --navBgColor: antiquewhite;
    ;*/
}

html {
    font-size: 14px;
    background-color: var(--bgColor);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--bgColor);
}

nav, nav *.nav-link {
    background-color: var(--navBgColor);
    color: var(--navColor);
    text-decoration: none;
}
