:root {
    /*    --bgColor: gray;
    --navColor: white;
    --navBgColor: darkslategray;*/

    --bgColor: honeydew;
    --navColor: black;
    --navBgColor: antiquewhite;
    ;
}

html {
    font-size: 14px;
    background-color: var(--bgColor);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--bgColor);
}

nav, nav *.nav-link {
    background-color: var(--navBgColor);
    color: var(--navColor);
    text-decoration: none;
}

.createNew * input {
    min-width: 60px;
    max-width: 300px;
}


.createNew * form {
    min-width: 600px;
}


.doublewindow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.leftwindow {
    grid-area: 1 / 1 / 2 / 2;
}

.rightwindow {
    grid-area: 1 / 2 / 2 / 3;
}

 