@*Создание связи Продукт - Категория*@
@*Partial*@

@using FoodLog.DAL.Entities;
@model ProductCategory


<form asp-action="Create" method="post">

    <table class="cinereousTable " style="border-top:0;max-width: 800px ">
        <input type="hidden" id="ProductGuid" name="ProductGuid" value="@ViewBag.ProdGuid">

        <tbody>
            <tr>
                <td class="column1">Добавить категорию</td>
                <td class="column2">
                    <select class="form-control" id="CategoryGuid" name="CategoryGuid" required>
                        <option value="">Выберите Категорию</option>
                        @foreach (var category in ViewBag.AllCategories)
                        {
                            <option value="@category.Guid">@category.Name</option>
                        }
                    </select>
                </td>

                <td class="column3">
                    <input type="text" class="form-control" id="Percent" name="Percent" required>
                </td>

                <td class="column4">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fa-regular fa-add" style="font-size: 15px; color: blue;"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
 
