@*Добавить съеденный продукт Consumption.cs*@

@using FoodLog.DAL.Entities
@model Consumption

@{
    ViewData["Title"] = "Добавить съеденный продукт";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center my-5">Добавить съеденный продукт</h2>

            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row my-2">
                    <label for="ProductGuid" class="col-sm-4 col-form-label">Продукт</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="ProductGuid" name="ProductGuid" required>
                            <option value="">Выберите продукт</option>
                            @foreach (var product in ViewBag.AllProducts)
                            {
                                <option value="@product.Guid">@product.Name</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="form-group row my-2">
                    <label for="Brutto" class="col-sm-4 col-form-label">Вес из магазина</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Brutto" name="Brutto" required>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Netto" class="col-sm-4 col-form-label">Чистый вес</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Netto" name="Netto">
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="CTrashWeightost" class="col-sm-4 col-form-label">Списано в г</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="TrashWeight" name="TrashWeight">
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="TrashPercentage" class="col-sm-4 col-form-label">Списано в %</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="TrashPercentage" name="TrashPercentage"y>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Date" class="col-sm-4 col-form-label">Дата</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="Date" name="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                    </div>
                </div>



                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
