@*Список продуктов на складе List  StorageProduct.cs  *@
@*Partial*@

@using FoodLog.WebMVC.ViewModels;
@model IEnumerable<StorageLineVM>

<div class="container">
    <h2 class="mb-4">Продукты на складе</h2>
    <input type="hidden" id="productNameFilter" value="@ViewBag.Filter">

    <table class="cinereousTable">
        <thead>
            <tr>
                <th>Наименование продукта</th>
                <th>Текущий вес</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var storageProduct in Model)
            {
                <tr>
                    <td>@storageProduct.ProductName</td>
                    <td>@storageProduct.CurrentWeight</td>
                    <td>@storageProduct.CurrentCost</td>
                </tr>
            }
            <tr>
                <td><strong>Итого:</strong></td>
                <td><strong><span id="totalWeight">0</span> г</strong></td>
                <td><strong><span id="totalCost">0</span></strong></td>
            </tr>
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />


<script src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        filterTableByProductName();  // Функция для фильтрации таблицы по названию продукта. Запускаем загрузке, т.к. могут быть переданы данные для фильтрации сразу

        function filterTableByProductName() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("productNameFilter");
            filter = input.value.toUpperCase();
            table = document.querySelector(".cinereousTable");
            tr = table.getElementsByTagName("tr");

            var totalWeight = 0; // Переменная для хранения суммы отображаемых значений "Текущий вес"
            var totalCost = 0; // Переменная для хранения суммы отображаемых значений "Стоимость"

            for (i = 0; i < tr.length - 1; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";

                        // Если строка отображается после фильтрации, то добавляем значение "Текущий вес" в сумму
                        var weight = parseFloat(tr[i].getElementsByTagName("td")[1].innerText);
                        totalWeight += isNaN(weight) ? 0 : weight;

                        // То же самое делаем для значения "Стоимость"
                        var cost = parseFloat(tr[i].getElementsByTagName("td")[2].innerText);
                        totalCost += isNaN(cost) ? 0 : cost;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

            // Обновляем отображение суммы в таблице
            document.getElementById("totalWeight").innerText = totalWeight.toFixed(0);
            document.getElementById("totalCost").innerText = totalCost.toFixed(0);
        }

        // Обработчик события ввода в поле фильтра
        $("#productNameFilter").on("input", function () {
            filterTableByProductName();
        });
    });
</script>
