@*Создать новую покупку Purchase.cs*@

@using FoodLog.DAL.Entities
@model Purchase

@{
    ViewData["Title"] = "Добавить новую покупку";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center my-5">Добавить новую покупку</h2>
          
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                <div class="form-group row my-2">
                    <label for="ProductGuid" class="col-sm-4 col-form-label">Продукт</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="ProductGuid" name="ProductGuid" required>
                            <option value="">Выберите продукт</option>
                            @foreach (var product in ViewBag.AllProducts)
                            {
                                <option value="@product.Guid">@product.Name</option>
                            }
                        </select>
                    </div>
                </div>

       
                <div class="form-group row my-2">
                    <label for="Weight" class="col-sm-4 col-form-label">Вес в граммах</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Weight" name="Weight" required>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Price" class="col-sm-4 col-form-label">Цена</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Price" name="Price"> 
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Cost" class="col-sm-4 col-form-label">Общая стоимость</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Cost" name="Cost" >
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Date" class="col-sm-4 col-form-label">Дата</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="Date" name="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                    </div>
                </div>



                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
